@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #2E4052;
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

header {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

input {
    width: 100%;
}

#bodyLoginRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#welcometextDivMobile {
    display: none;
}

#loginDiv {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
}

#imageSubDiv {
    text-align: center;
    flex: 1;
}

#formSubDiv {
    flex: 1;
    padding: 40px 50px;
    border-radius: 1rem;
}

#formSubDiv .btn {
    width: 100% !important;
}

#welcometextDiv {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}

#welcometext {
    font-size: 1.3rem;
    margin: 0;
}

#statsSec1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
}

#logoLogin {
    width: 60px;
}

#newAccBtn {
    background-color:  rgb(18 18 18 / 60%);
    border: none;
}

#newAccBtn:hover {
    background-color: #121212;
}

#backArrow {
    width:10px;
    transition-duration: 0.3s;
    transition-property: transform;
}

#backArrow:hover {
    transform: scale(1.3);
}

#login-error-msg {
    display: none;
}

#register-error-msg {
    display: none;
}

#vectorLogin {
    width: 100%;
}

#mail {
    margin-bottom: 20px;
}

#desktopNavBar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2E4052;
    overflow-x: hidden;
    padding: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navBarDesktopButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#pfp {
    width: 65%;
    border-radius: 100%;
    border: 2px solid #449dd1;
}

#searchBar {
    display: flex;
    flex-direction: row;
    height: 35px;
}

#searchInput {
    flex: 1;
    box-shadow: inset 0px 0px 3px 0px rgb(0 0 0 / 20%);
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: #ffffff;
}

#searchBtn {
    width: 15%;
    border-radius: 0 10px 10px 0;
}

#categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

#taskSection {
    width: 100%;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

#taskHoverDiv {
    position: absolute;
    right: -20px;
    bottom: -20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#expandedCardDiv {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#taskAndMapDiv {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

#taskTitleExpanded {
    font-weight: bold;
}

#expandedTaskDivBtns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#addTaskContainer {
    display: none;
    flex-direction: column;
    gap: 10px;
    border: solid;
    border-radius: 10px;
    padding: 20px;
    border: solid;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 20px 0 #1212124a;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

#taskAddBtnSec {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#closeAddTask {
    width: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all 0.1;
}

#searchInput:focus-visible {
    outline: none;
    padding-left: 15px;
}

#closeAddTask:hover, #closeExpandedTask:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#initialLoadDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#backIcon {
    width: 10px;
    transition: all 0.3s;
    position: absolute;
    top: 20px;
    right: 60px;
}

#backIcon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#saveChangesIcon {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 20px;
    transition: transform 0.3s;
}

#saveChangesIcon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#nextUpTaskCard {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#logoutBtn, .configSubDiv {
    width: 100%;
    text-align: center;
}

.expandedTodoCardDiv {
    position: fixed;
    background-color: #2e4052;
    z-index: 1000;
    top: 0;
    left: 80px;
    bottom: 0;
    padding: 60px 60px !important;
    width: 40%;
}

.profilePicExpanded {
    width: 200px;
    border-radius: 100%;
}

.expandedProfile {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.profilePfpAndData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.expandedTaskBkg {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.charAndTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.chartsTitle {
    font-weight: bold;
    margin-bottom: 20px;
}

.backAndTitle {
    display: flex;
    gap: 10px;
}

.smallInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.taskDivText {
    font-size: 1.5rem;
    margin: 0;
}

.expandedSubTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.expandedTodoCard h1 {
    display: flex;
    gap: 10px;
}

.editCardIcon {
    width: 20px;
}
.closeCardIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
}

.importanceIndicator {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-radius: 100%;
    top: 5px;
    left: 5px;
}

.trashCardIcon {
    width: 20px;
    position: absolute;
    right: 15px;
    opacity: 0.8;
}

.taskHoverBtn {
    width: 40px;
}

.mid {
    border-top: 10px solid #ffbe0a;
}

.low {
    border-top: 10px solid #26C485;
}

.high {
    border-top: 10px solid #dc3545;
}

.high img, .low img, .mid img {
    display: none;
}

.completedDot img {
    width: 15px;
    position: absolute;
}

.taskCard, .expandedTodoCard {
    position: relative;
    padding: 15px 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.btn-success {
    background-color: #26C485 !important;
    flex: 1;
}

.btn-danger {
    background-color: #BC1313 !important;
    flex: 1;
}

.taskCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 10px 5px rgb(52 52 52 / 10%);
}

.taskCard p {
    margin: 0;
}

.selectionBtn {
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 35px;
    background-color: #fff;
    border: 2px solid #2e4052;
    color: #2E4052;
    transition: transform 0.3s;
}

.selectionBtn:hover {
    background-color: #2e4052;
    border: none;
    color: #fff;
    transform: scale(1.05)
}

.activeSelBtn {
    background-color: #2e4052;
    border: none;
    color: #fff;
}

.btnBlack {
    border-radius: 10px;
    border: none;
    color: #FFF;
    background-color: #449dd1;
}

.mainContainer {
    background-color: #ffffff;
    margin-left: 80px;
    border-radius: 25px 0 0 0;
}

.btn-group {
    width: 100%
}

.navDeskIcon {
    width: 30px;
    transition: 0.1s;
}

.navDeskIcon:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.container {
    height: 100%;
    padding: 40px 10px;
}