@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginDiv {
    display: flex;
    width: 100%;
    align-items: center;
}

#imageSubDiv {
    flex: 2;
}

#formSubDiv {
    flex: 1;
}

#formSubDiv .btn {
    width: 100% !important;
}

#welcometextDiv {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}

#welcometext {
    font-size: 1.3rem;
    margin: 0;
}

#logoLogin {
    width: 60px;
}

@media (max-width: 992px){

    body {
        height: auto;
    }

    #loginDiv {
        flex-direction: column;
    }
    
    #welcometext {
        text-align: center;
    }

    #formSubDiv {
        margin: 25px;
        width: 70%;
    }

    #vectorLogin {
        width: 80%
    }

    #imageSubDiv {
        text-align: center;
    }
}
