@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #2E4052;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 100px 0;
}

h1 {
    font-size: 3.5rem;
}

p {
    font-size: 1.5rem;
}

a {
    width: 100%;
    text-align: center;
}

footer {
    background-color: #1095E0;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.swal2-confirm, .swal2-deny {
    width: 90% !important;
    background-color: #1095e0 !important;
}

.secondaryHeaderBtn {
    border: none;
    background-color: #fff;
    transition: transform 0.3s;
}

.secondaryHeaderBtn:hover {
    transform: scale(1.2);
    color: #1095e0;
}

.secondaryHeaderBtnHamb {
    border: none;
    background-color: #1095e0;
    color: #fff;
    width: 70%;
    border-radius: 10px;
}

.section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    text-align: center;
}

.section3 {
    display: flex;
    margin: 100px 0;
}

.images {
    width: 500px;
}

.images2 {
    width: 100%;
}

.imgReview {
    width: 100%;
}

#startNowBtn {
    width: 100%;
    margin-top: 50px;
}

#socialDiv {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#headerBtnsDiv {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#mobileBtnDiv {
    display: none;
}

#hambLanding {
    width: 20px;
}

#hambDisplay {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #fff;
    gap: 20px;
}

#closeHambMenu {
    width: 10px;
    position: fixed;
    z-index: 2000;
    display: none;
}

.secondaryHeaderBtn {
    height: 40px;
    width: 100%
}

@media (max-width: 1000px) {
    header {
        margin: 30px 0 30px 0;
    }

    header img, footer img {
        width: 120px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    section {
        margin: 0 0 30px 0 !important;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    #mobileBtnDiv {
        display: block;
    }

    #headerBtnsDiv {
        display: none;
    }

    #socialDiv img {
        width: 30px;
    }

    #socialDiv {
        gap: 10px;
    }

    .section2 img {
        width: 100%
    }

    .section1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .section3 {
        flex-direction: column;
    }

    .section3 img {
        width: 100%;
    }

    .images {
        width: 100%;
    }
}