@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');


body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
}

#bodyLoginRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginDiv {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
}

#imageSubDiv {
    text-align: center;
    flex: 1;
}

#formSubDiv {
    flex: 1;
    padding: 40px 50px;
    border-radius: 1rem;
    position: relative;
}

#formSubDiv .btn {
    width: 100% !important;
}

#welcometextDiv {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}

#welcometext {
    font-size: 1.3rem;
    margin: 0;
}

#logoLogin {
    width: 60px;
}

#newAccBtn {
    background-color:  rgb(18 18 18 / 60%);
    border: none;
}

#newAccBtn:hover {
    background-color: #121212;
}

#backArrow {
    width:10px;
    transition-duration: 0.3s;
    transition-property: transform;
}

#backArrow:hover {
    transform: scale(1.3);
}

#login-error-msg {
    display: none;
    margin: 1rem 0;
    text-align: center;
}

#register-error-msg {
    display: none;
    text-align: center;
}

#vectorLogin {
    width: 100%;
}

#mail {
    margin-bottom: 20px;
}

